AnalisiDue.aux
AnalisiDue.fdb_latexmk
AnalisiDue.log
AnalisiDue.synctex.gz
AnalisiDue.fls
AnalisiDue.idx
AnalisiDue.ilg
AnalisiDue.ind
AnalisiDue.mw
AnalisiDue.toc
AnalisiDue.pdf
chapters/*.aux
AnalisiDue.myaux
